body{

    background: url(3unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    
}

.container 
{
    max-width: 80%;
    margin: auto;
}

.panel-footer
{
    position: absolute;
    bottom:0;
    width: 100%;
}
.panel-heading
{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.panel-body { 
    padding: 0px;
}

.panel-heading { 
    background-color: #ef5350 !important; 
    color: white !important; 
}

.speech-bubble {
	position: relative;
	background: #ffcdd2;
    border-radius: .4em;
    padding: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.594em solid transparent;
	border-right-color: #ffcdd2;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.297em;
	margin-left: -0.594em;
}