body{
    background: url(3unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin:0;
    padding:0;
}

.login-box{
    width: 900px;
    height: 80%;
    background: rgba(253, 252, 252, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 60px 40px;
}

.panel-body{
    height: 80%;
    overflow: auto;
    padding-bottom: 10px;
}

.message_holder{
    padding-left: 20px;
}
h1{
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
    color: #cc8e7c;
}

h3{
    font-size: 12px;
}

.panel-footer{
    padding-top:20px;
}
.panel-footer input[type="text"]
{
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #556080;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #556080;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.speech-bubble {
	position: relative;
	background: #ef5350;
    border-radius: .4em;
    padding: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.594em solid transparent;
	border-right-color: #ef5350;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.297em;
	margin-left: -0.594em;
}