body{

    background: url(3unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    
}

.container 
{
    max-width: 80%;
    margin: auto;
}

.panel-heading
{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.panel-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }