<!DOCTYPE html>
<html>

<head>

    <title> CHAT APP </title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"> 

</head>

    <body>

    <div class="login-box">

    <img src="/static/css/user.png" class="avatar">

        <h1>Login Here</h1>

            <form action="/session">

            <p>Username</p>
            
            <input type="text" class="username" id="username" placeholder="Enter username">
            <input type="submit" onClick="addUsername(username.value)">

            </form>
        
        
        </div>
    
        <script>
            localStorage.clear();

            function addUsername(username){
                localStorage.setItem('username',username);
            }
       </script>

    </body>

</html>