<!DOCTYPE html>
<html>

<head>

    <title> CHAT APP </title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"> 

</head>

    <body>

        <div class="login-box">

            <img src="/static/css/user.png" class="avatar">

            <h1>Login Here</h1>

                <form action="/session" onsubmit="return addUsername(username.value)">

                <p>Username</p>
                
                <input type="text" class="username" id="username" placeholder="Enter username">
                <input type="submit">

                </form>
                
            <div class="login-alert"></div>
            
        </div>
        
        <script>
            localStorage.clear();

            function addUsername(username){
                if(username==null){
                    $('div.login-alert').append('<p style="color:red">Please enter username</p>');
                    return false;
                } else{
                    localStorage.setItem('username',username);
                    return true;
                }
            }
        </script>

    </body>

</html>