<!DOCTYPE html>
<html>
    <head>
        <title> CHAT APP </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/stylee.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Conversation
                    </div>

                    <div class="panel-body">
                        <div class="msgcontainer">
                            <div class="message_holder">
                                {% for m in mes %}
                                    <b style="color:#000">{{m.from}}</b> &nbsp &nbsp 
                                    <label class="message-bubble">{{m.message}}</label>
                                    <br>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer">
                        <form action="/session" method="POST">
                            <input type="text" class="message" placeholder="Type something..."/>
                            <input type="submit"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="static/js/session.js"></script>

    </body>
</html>