<!DOCTYPE html>
<html>

<head>

    <title> CHAT APP </title>
    <link rel="stylesheet" type="text/css" href="static/css/stylee.css"> 

</head>

<body>

    <div class="login-box">

        <h1>Conversation</h1>

        <div class="panel-body">
            <div class="msgcontainer">
                <div class="row message-bubble">

                    <div class="message_holder">
                            {% for m in mes %}
                            <b style="color:#000">{{m.from}}</b> &nbsp &nbsp 
                            <label class="message-bubble">{{m.message}}</label>
                            <br>
                        {% endfor %}
                    </div> 

                    
                </div>
            </div>
        </div>

        <div class="panel-footer">

            <form action="/session" method="POST">
                <input type="text" class="message" placeholder="Type something..."/><input type="submit"/>
            </form>

        </div>
        
        
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="static/js/session.js"></script>

    </body>
</html>