<!DOCTYPE html>
<html>

<head>

    <title> CHAT APP </title>
    <link rel="stylesheet" type="text/css" href="static/css/style2.css"> 

</head>

<body>

    <div class="login-box">

        <h1>Conversation</h1>

        <div class="panel-body">
            <div class="msgcontainer">
                <div class="row message-bubble">
                    <h3 class="no-message-panel"> No message yet... </h3>
                    <div class="message_holder"></div> 
                </div>
            </div>
        </div>

        <div class="panel-footer">

            <form action="/session" method="POST">
                <input type="text" class="message" placeholder="Type something..."/><input type="submit"/>
            </form>

        </div>
        
        
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="static/js/session.js"></script>

    </body>
</html>